@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');



html {
    font-size: 10px;
    font-family: 'Tilt Warp';

}

h1 {
    font-size: 3rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 80%;
}

.item__container {
    /* margin-top: 1rem; */
    padding: 1rem 0;
    border-top: solid 0.1rem gray;

}

input {
    display: none;
}

label {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    color: blue;
    /* background-color: blue; */
}

.label__container {
    display: block;
    
}

.icon {
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    fill:  blue;
}

.mem_img {
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    transition: width 0.3s, heigth 0.3s;
}


input:checked ~ .accordeon_body .mem_img {
    width: 30rem;
    height: 30rem;
}

input:checked ~ label .plus {
    transition: 0.3s;
    transform: rotate(45deg);
}

input:checked ~ label {
    color: black;
}

input:checked ~ label svg {
    fill: black;
}

.wrapper:hover *{
    transition: 0.3s;
    cursor: pointer;
    color: black;
    fill: black;
}